@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary: #FE805A;
    --color-primaryBlack: #393E46;
    --color-lightOrange: #FFF6ED;
    --color-darkOrange: #FC881D;
}